In [1]:
import pandas as pd
import numpy as np

import re

In [2]:
def metro_dist(s):
    r = re.search('\d+', s)
    r = r.group(0) if r else 5000
    return r

In [3]:
df_atm_rosbank = pd.read_csv('base_banks_join.csv', sep=',')
df_atm_rosbank['id'].fillna(-1, inplace=True)
df_atm_rosbank['comment'].fillna('', inplace=True)
df_atm_rosbank['metro'].fillna('', inplace=True)
df_atm_rosbank['metro'] = df_atm_rosbank['metro'].apply(metro_dist)
df_atm_rosbank['address'].fillna('', inplace=True)
df_atm_rosbank.head()

,bank,address,comment,lat,lng,metro,access24h,id
0,Росбанк,"Красноярск, улица Партизана Железняка, 35А",Бизнес Центр Сириус ХАБ ПАО РОСБАНК,56.035552,92.930698,5000,False,45351.0
1,Росбанк,"Республика Адыгея, Тахтамукайский район, посёл...","магазин ""Декатлон""",45.013084,38.929328,5000,False,44392.0
2,Альфа-Банк,"Республика Адыгея, Тахтамукайский район, посёл...",ТЦ «Мега Адыгея»,45.012358,38.928279,5000,False,81782.0
3,Альфа-Банк,"Республика Адыгея, Тахтамукайский район, аул Т...",,44.929061,38.980093,5000,True,83137.0
4,Газпромбанк,"Республика Бурятия, Улан-Удэ, Геологическая ул...",САО «ВСК»,51.810559,107.607134,5000,False,75759.0

In [4]:
df_atm_rosbank.isna().any()

bank         False
address      False
comment      False
lat          False
lng          False
metro        False
access24h    False
id           False
dtype: bool

In [5]:
df_2gis = pd.read_csv('dataset_2gis.csv', sep=',')
df_2gis.fillna('', inplace=True)
df_2gis.columns = ['2ГИС:' + c if c != 'id' else c for c in df_2gis.columns]
df_2gis.head()

,2ГИС:floors,id,2ГИС:name,2ГИС:norgs,2ГИС:rating,2ГИС:rating_style,2ГИС:type,2ГИС:comment
0,31,2481,Измайлово,104,90.0,3,Гостиничный комплекс,Измайлово\nГостиничный комплекс
1,9,2397,"Малинэль, парикмахерский магазин, ИП Дмитриева...",8,100.0,1,Жилой дом с административными помещениями,"Малинэль, парикмахерский магазин, ИП Дмитриева..."
2,9,6436,"Банк ВТБ, ПАО\nСвязист, телекоммуникационная к...",13,0.0,0,Жилой дом с административными помещениями,"Банк ВТБ, ПАО\nСвязист, телекоммуникационная к..."
3,4,3314,,14,0.0,0,,
4,4,3337,,14,0.0,0,,

In [6]:
df_2gis.isna().any()

2ГИС:floors          False
id                   False
2ГИС:name            False
2ГИС:norgs           False
2ГИС:rating          False
2ГИС:rating_style    False
2ГИС:type            False
2ГИС:comment         False
dtype: bool

In [7]:
df_dataset = pd.read_csv('dataset_fixed-3.csv', sep=',')
df_dataset.rename(columns={'name-osm': 'OSM:comment',
                           'type': 'OSM:type',
                           'importance': 'OSM:importance'}, inplace=True)
df_dataset['OSM:comment'].fillna('', inplace=True)
df_dataset['locality'].fillna('', inplace=True)
df_dataset['province'].fillna('', inplace=True)
df_dataset.head()

,address,house,id,lat,lng,locality,province,atm_group,target,OSM:importance,...,density_province,mul_square_density_province,metro,distance_locality,lat_locality,lng_locality,distance_province,lat_province,lng_province,salary
0,"Сахалинская область, Южно-Сахалинск, улица А.О...",34,8526,46.940995,142.738319,Южно-Сахалинск,Сахалинская область,32.0,0.011500,0.000,...,563,13.841721,4145.263080,2.020059,46.959155,142.738023,357.041271,50.150926,142.750797,68496.0
1,"Сахалинская область, Южно-Сахалинск, Комсомоль...",259,8532,46.937341,142.753339,Южно-Сахалинск,Сахалинская область,32.0,0.029710,0.711,...,563,13.641437,4146.429690,2.690682,46.959155,142.738023,357.446573,50.150926,142.750797,68496.0
2,"Сахалинская область, Южно-Сахалинск, Коммунист...",32,8533,46.960268,142.739011,Южно-Сахалинск,Сахалинская область,32.0,0.009540,0.711,...,563,15.880409,4144.071924,0.144748,46.959155,142.738023,354.897417,50.150926,142.750797,68496.0
3,"Сахалинская область, Южно-Сахалинск, Милицейск...",8,470,46.966405,142.731815,Южно-Сахалинск,Сахалинская область,1942.0,0.041914,0.711,...,563,13.810201,4143.232356,0.934019,46.959155,142.738023,354.216493,50.150926,142.750797,68496.0
4,"Сахалинская область, Южно-Сахалинск, 2-я Центр...",1,1183,46.900367,142.742227,Южно-Сахалинск,Сахалинская область,1942.0,0.065990,0.900,...,563,0.000000,4148.109397,6.546772,46.959155,142.738023,361.559686,50.150926,142.750797,68496.0

In [8]:
df_dataset = pd.merge(df_dataset, df_2gis, on='id', how='left')
df_dataset.drop(columns=['2ГИС:name'], inplace=True)

In [9]:
df_dataset.isna().any()

address                        False
house                          False
id                             False
lat                            False
lng                            False
locality                       False
province                       False
atm_group                      False
target                          True
OSM:importance                 False
OSM:comment                    False
square                         False
OSM:type                       False
density_province               False
mul_square_density_province    False
metro                          False
distance_locality              False
lat_locality                   False
lng_locality                   False
distance_province              False
lat_province                   False
lng_province                   False
salary                         False
2ГИС:floors                    False
2ГИС:norgs                     False
2ГИС:rating                    False
2ГИС:rating_style              False
2ГИС:type                      False
2ГИС:comment                   False
dtype: bool

In [10]:
df_atm_rosbank.shape, df_dataset.shape

((25694, 8), (8765, 29))

## Матчим названия организаций с банкоматом

Названия организаций берутся из объединенной базы для Росбанка и агреггатора Banki.Ru.

Ищется ближайший банкомат в объединенной базе, берется его название.

In [11]:
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.neighbors import DistanceMetric

In [12]:
from tqdm import tqdm

In [13]:
bank_index = []
bank_dists = []

R = 6373.0

metric = DistanceMetric.get_metric('haversine')

b = np.deg2rad(df_atm_rosbank[["lat", "lng"]]).values.reshape(-1, 2)
a = np.deg2rad(df_dataset[["lat", "lng"]]).values.reshape(-1, 2)

for i in tqdm(range(df_dataset.shape[0])):
    dists = metric.pairwise(a[i].reshape(-1, 2), b) * R
    j = np.argsort(dists, axis=1)[0,0]
    d = dists[0,j]
    
    if not d < 0.1:
        j = None       
        
    bank_index.append(j)
    bank_dists.append(d)

100%|██████████| 8765/8765 [00:40<00:00, 214.93it/s]

In [14]:
sum(s is None for s in bank_index)

2224

In [15]:
df_dataset['comment'] = df_dataset['2ГИС:comment'] + '\n' + df_dataset['OSM:comment']

# df_dataset['metro'] = 5000
df_dataset['id-rosbank'] = -1
df_dataset['access24h'] = False

for r in df_dataset.itertuples():
    i = bank_index[r.Index]
    if i is None:
        continue
    
    df_dataset['comment'].at[r.Index] += '\n' + df_atm_rosbank["comment"].iloc[i]
    
    if 'аэропорт' in df_atm_rosbank['address'].at[i] or \
       'аэропорт' in df_atm_rosbank['address'].at[r.Index]:
        df_dataset['comment'].at[r.Index] += ' аэропорт'
        
    if 'метро' in df_atm_rosbank['address'].at[i] or \
       'метро' in df_atm_rosbank['address'].at[r.Index]:
        df_dataset['comment'].at[r.Index] += ' метро'
        
#     df_dataset['metro'].at[r.Index] = df_atm_rosbank["metro"].iloc[i]
    df_dataset['id-rosbank'].at[r.Index] = df_atm_rosbank["id"].iloc[i]
    df_dataset['access24h'].at[r.Index] = df_atm_rosbank["access24h"].iloc[i]
    
df_dataset['access24h'] = df_dataset['access24h'].astype(int)
df_dataset.head(5)

,address,house,id,lat,lng,locality,province,atm_group,target,OSM:importance,...,salary,2ГИС:floors,2ГИС:norgs,2ГИС:rating,2ГИС:rating_style,2ГИС:type,2ГИС:comment,comment,id-rosbank,access24h
0,"Сахалинская область, Южно-Сахалинск, улица А.О...",34,8526,46.940995,142.738319,Южно-Сахалинск,Сахалинская область,32.0,0.011500,0.000,...,68496.0,1,10,0.0,0,Административное здание,"Союз ломбардов, ООО\nРост-Мед, сеть аптек\nАзи...","Союз ломбардов, ООО\nРост-Мед, сеть аптек\nАзи...",-1,0
1,"Сахалинская область, Южно-Сахалинск, Комсомоль...",259,8532,46.937341,142.753339,Южно-Сахалинск,Сахалинская область,32.0,0.029710,0.711,...,68496.0,5,0,0.0,0,Жилой дом с административными помещениями,,\n\nТДЦ «Столица»,-1,0
2,"Сахалинская область, Южно-Сахалинск, Коммунист...",32,8533,46.960268,142.739011,Южно-Сахалинск,Сахалинская область,32.0,0.009540,0.711,...,68496.0,6,14,0.0,0,,Правительство Сахалинской области,Правительство Сахалинской области\nДом правите...,-1,0
3,"Сахалинская область, Южно-Сахалинск, Милицейск...",8,470,46.966405,142.731815,Южно-Сахалинск,Сахалинская область,1942.0,0.041914,0.711,...,68496.0,2,0,0.0,0,Административное здание,,\n\nБЦ Сахвестстрой,-1,0
4,"Сахалинская область, Южно-Сахалинск, 2-я Центр...",1,1183,46.900367,142.742227,Южно-Сахалинск,Сахалинская область,1942.0,0.065990,0.900,...,68496.0,5,241,60.0,3,Торгово-развлекательный комплекс,Сити Молл\nТоргово-развлекательный комплекс,Сити Молл\nТоргово-развлекательный комплекс\n\...,-1,0

In [16]:
import re

def comment_process(comment):
    comment = comment.strip().replace('ё', 'е')
    comment = re.sub('\((?:.*?)\)', '', comment)
    # comment = re.sub(',(?:.*?)$', '', comment)
    comment = re.sub('\d+', '', comment)
    comment = re.sub('\s+/(\s+|$)', ' ', comment)
    comment = re.sub('\bгк?б\b', 'городская больница', comment)
    comment = re.sub('[^\w\s]', ' ', comment)
    comment = re.sub('\s+', ' ', comment)
    return comment.strip()

df_dataset['comment'].fillna(value='', inplace=True)
df_dataset['comment'] = df_dataset['comment'].apply(func=comment_process)
df_dataset['comment'] = df_dataset['comment'].apply(func=lambda s: re.sub(r'[^\s\w/]', '', s.lower()))
df_dataset.head()

,address,house,id,lat,lng,locality,province,atm_group,target,OSM:importance,...,salary,2ГИС:floors,2ГИС:norgs,2ГИС:rating,2ГИС:rating_style,2ГИС:type,2ГИС:comment,comment,id-rosbank,access24h
0,"Сахалинская область, Южно-Сахалинск, улица А.О...",34,8526,46.940995,142.738319,Южно-Сахалинск,Сахалинская область,32.0,0.011500,0.000,...,68496.0,1,10,0.0,0,Административное здание,"Союз ломбардов, ООО\nРост-Мед, сеть аптек\nАзи...",союз ломбардов ооо рост мед сеть аптек азия си...,-1,0
1,"Сахалинская область, Южно-Сахалинск, Комсомоль...",259,8532,46.937341,142.753339,Южно-Сахалинск,Сахалинская область,32.0,0.029710,0.711,...,68496.0,5,0,0.0,0,Жилой дом с административными помещениями,,тдц столица,-1,0
2,"Сахалинская область, Южно-Сахалинск, Коммунист...",32,8533,46.960268,142.739011,Южно-Сахалинск,Сахалинская область,32.0,0.009540,0.711,...,68496.0,6,14,0.0,0,,Правительство Сахалинской области,правительство сахалинской области дом правител...,-1,0
3,"Сахалинская область, Южно-Сахалинск, Милицейск...",8,470,46.966405,142.731815,Южно-Сахалинск,Сахалинская область,1942.0,0.041914,0.711,...,68496.0,2,0,0.0,0,Административное здание,,бц сахвестстрой,-1,0
4,"Сахалинская область, Южно-Сахалинск, 2-я Центр...",1,1183,46.900367,142.742227,Южно-Сахалинск,Сахалинская область,1942.0,0.065990,0.900,...,68496.0,5,241,60.0,3,Торгово-развлекательный комплекс,Сити Молл\nТоргово-развлекательный комплекс,сити молл торгово развлекательный комплекс трк...,-1,0

In [17]:
(df_dataset['comment'] == '').sum()

948

In [18]:
df_concat_list = []

### onehot (atm_group)

In [19]:
df_one_hot = pd.get_dummies(df_dataset['atm_group'])
df_one_hot.columns = ['atm_group_{}'.format(c) for c in df_one_hot.columns]
df_one_hot.head()

,atm_group_32.0,atm_group_496.5,atm_group_1022.0,atm_group_1942.0,atm_group_3185.5,atm_group_5478.0,atm_group_8083.0
0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,0
3,0,0,0,1,0,0,0
4,0,0,0,1,0,0,0

In [20]:
df_concat_list.append(df_one_hot)

### Частотные термы из имен организаций

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
import pymorphy2

from functools import lru_cache

morph = pymorphy2.MorphAnalyzer()

@lru_cache(maxsize=1500)
def process(token):
    return morph.parse(token)[0].normal_form

In [23]:
func_text_preprocess = lambda s: ' '.join(map(process, s.lower().split()))

df_dataset['comment'] = df_dataset['comment'].map(func_text_preprocess)

In [24]:
from itertools import chain
from collections import Counter

text = chain.from_iterable(map(str.split, df_dataset['comment'].tolist()))
counter = Counter(text)

In [25]:
for token, freq in counter.most_common():
    if freq < 40:
        break
    print(f'{token:20} {freq:>5}')

центр                 2184
сеть                  2056
магазин               1996
торговый              1960
банк                  1380
пао                   1221
втб                   1155
тц                    1127
ооо                    913
оо                     876
супермаркет            818
и                      743
до                     699
компания               674
ао                     663
комплекс               549
развлекательный        521
аптека                 497
альфа                  488
гипермаркета           424
отделение              420
салон                  409
на                     388
магнит                 378
росбанк                362
кко                    323
лента                  311
универсам              299
в                      293
сбербанк               288
дом                    268
ип                     258
по                     254
кафе                   240
год                    239
пятёрочка              225
медицинский            222
бизнес                 201
для                    201
гипермаркетовый        191
ресторан               185
трц                    183
товар                  182
красота                182
а                      180
мария                  173
ра                     169
красный                168
бар                    167
филиал                 164
банка                  156
россельхозбанк         155
офис                   154
вокзал                 153
детский                150
государственный        147
оао                    140
метр                   135
служба                 132
тк                     132
центральный            125
городской              124
страховой              121
парк                   121
больница               120
парикмахерский         116
управление             116
клиника                115
одежда                 115
сити                   114
москва                 113
семейный               111
перекрёсток            108
spar                   108
гостиница              107
техника                107
трк                    106
проспект               106
университет            105
о                      101
область                100
с                      100
мир                     97
этаж                    97
клуб                    97
производственный        96
терминал                96
ашан                    96
планет                  95
строительный            94
метро                   94
сервисный               94
наш                     93
обувь                   91
молл                    89
газпромбанк             88
федеральный             88
нотариус                87
московский              87
бытовой                 86
ярый                    85
мег                     84
администрация           84
европа                  84
студия                  82
поликлиника             81
командор                81
железнодорожный         80
й                       79
офисный                 79
далее                   78
галерея                 78
дикси                   78
кей                     77
экспресс                76
имя                     76
суши                    76
район                   75
площадь                 75
платёжный               74
мастерский              74
гастроном               73
страхование             72
связь                   72
стоматологический       72
клинический             71
цена                    70
кофейня                 70
сибирский               69
республика              69
семья                   68
универмаг               65
почтовый                65
россия                  65
доставка                65
спортивный              65
город                   64
здоровье                64
южный                   63
золотой                 63
рынок                   63
завод                   63
виктория                62
плаз                    62
продуктовый             62
маркета                 61
барс                    60
ж                       59
сервис                  59
звезда                  58
интернет                58
многофункциональный     57
рф                      57
агентство               57
кировский               57
быстрый                 55
группа                  55
ремонт                  55
бц                      54
автозапчасть            54
косметика               54
продукт                 54
ст                      52
питание                 52
услуга                  51
линия                   51
ак                      51
томский                 51
столовый                50
здоровый                50
кредит                  50
продажа                 50
карусель                50
октябрьский             50
отель                   49
тд                      49
социальный              49
ювелирный               49
кухня                   49
пять                    49
зао                     48
северный                48
деловой                 48
аптечный                48
учреждение              47
радуга                  47
школа                   47
бургера                 47
новый                   47
электроника             47
глобус                  47
кондитерский            46
квартал                 46
цум                     46
абсолют                 46
эссный                  46
институт                45
пиццерия                45
аэропорт                45
оптовый                 45
жила                    44
корпус                  43
один                    42
плюс                    42
русский                 42
фирма                   42
японский                42
развитие                42
вит                     42
полиграфический         41
мебель                  41
солнечный               41
фитнес                  41
ru                      40
фреш                    40

In [26]:
markers = {token for token, freq in counter.most_common() if freq >= 10}
markers.difference_update({'на', '/', 'москва', 'и', 'в'})

In [27]:
vec = CountVectorizer(vocabulary=markers)
df_terms = vec.transform(df_dataset['comment']).todense()
df_terms = pd.DataFrame(df_terms, columns=[f"comment_term_{i}" for i in range(df_terms.shape[1])])
df_terms.shape

(8765, 849)

In [28]:
df_concat_list.append(df_terms)

### Частотные термы из адресов

In [29]:
func_text_preprocess = lambda s: ' '.join(map(process, s.lower().split()))

df_dataset['address'] = df_dataset['address'].map(func_text_preprocess)

In [30]:
markers = {
    'улица', 'проспект', 'шоссе', 'бульвар', 'переулок', 'проезд',
    'аллея', 'набережная', 'километр', 'км',
    
    'посёлок', 'поселение', 'деревня', 'город', 'село',
    'городского', 'городское', 'сельское', 'станица', 'товарищество',
}

In [31]:
vec = CountVectorizer(vocabulary=markers)
df_terms = vec.transform(df_dataset['address']).todense()
df_terms = pd.DataFrame(df_terms, columns=[f"address_term_{i}" for i in range(df_terms.shape[1])])

In [32]:
df_concat_list.append(df_terms)

### onehot(OSM:type)

In [33]:
mask = df_dataset["OSM:type"].value_counts() < 20
rare = df_dataset["OSM:type"].value_counts()[mask].index
rare

Index(['office:telecommunication', 'shop:electronics', 'place:town',
       'tourism:museum', 'amenity:marketplace', 'railway:subway_entrance',
       'aeroway:terminal', 'amenity:clinic', 'tourism:theme_park',
       'shop:doityourself',
       ...
       'shop:hearing_aids', 'tourism:guest_house', 'shop:doors',
       'shop:lighting', 'bridge:yes', 'office:educational_institution',
       'amenity:parking_entrance', 'natural:wood', 'amenity:sauna',
       'leisure:sauna'],
      dtype='object', length=173)

In [34]:
df_dataset["OSM:type"] = df_dataset["OSM:type"].apply(lambda x: 'rare' if x in rare or not len(x) else x)

In [35]:
df_one_hot = pd.get_dummies(df_dataset['OSM:type'])
df_one_hot.columns = ['OSM:type_{}'.format(c) for c in df_one_hot.columns]
df_one_hot.head()

,OSM:type_amenity:atm,OSM:type_amenity:bank,OSM:type_amenity:bar,OSM:type_amenity:cafe,OSM:type_amenity:cinema,OSM:type_amenity:fast_food,OSM:type_amenity:hospital,OSM:type_amenity:library,OSM:type_amenity:pharmacy,OSM:type_amenity:police,...,OSM:type_place:house,OSM:type_rare,OSM:type_shop:clothes,OSM:type_shop:convenience,OSM:type_shop:department_store,OSM:type_shop:hairdresser,OSM:type_shop:mall,OSM:type_shop:supermarket,OSM:type_tourism:attraction,OSM:type_tourism:hotel
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_concat_list.append(df_one_hot)

### onehot(2ГИС:type)

In [37]:
mask = df_dataset["2ГИС:type"].value_counts() < 20
rare = df_dataset["2ГИС:type"].value_counts()[mask].index
rare

Index(['Производственный корпус', 'Кинотеатр', 'Хозяйственный корпус',
       'Гостиничный комплекс', 'Деловой центр', 'Универмаг',
       'Международный аэропорт', 'Отель', 'Торгово-офисный комплекс',
       'Офисный центр',
       ...
       'Аптека', 'Универсальный спортивный комплекс', 'Выставочный центр',
       'Автостоянка', 'Международный коммерческий центр', 'Бизнес-отель',
       'Киностудия', 'Управление делами Президента РФ', 'Сеть аптек',
       'Продуктовый рынок'],
      dtype='object', length=190)

In [38]:
df_dataset["2ГИС:type"] = df_dataset["2ГИС:type"].apply(lambda x: 'rare' if x in rare or not len(x) else x)

In [39]:
df_one_hot = pd.get_dummies(df_dataset['2ГИС:type'])
df_one_hot.columns = ['2ГИС:type_{}'.format(c) for c in df_one_hot.columns]
df_one_hot.head()

,2ГИС:type_rare,2ГИС:type_Административное здание,2ГИС:type_Бизнес-центр,2ГИС:type_Гипермаркет,2ГИС:type_Гостиница,2ГИС:type_Железнодорожный вокзал,2ГИС:type_Жилой дом,2ГИС:type_Жилой дом с административными помещениями,2ГИС:type_Магазин,2ГИС:type_Малоэтажный жилой дом,...,2ГИС:type_Сеть супермаркетов,2ГИС:type_Сеть торговых центров,2ГИС:type_Супермаркет,2ГИС:type_Торгово-офисный центр,2ГИС:type_Торгово-развлекательный комплекс,2ГИС:type_Торгово-развлекательный центр,2ГИС:type_Торговый дом,2ГИС:type_Торговый комплекс,2ГИС:type_Торговый центр,2ГИС:type_Частный дом
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [40]:
df_concat_list.append(df_one_hot)

### Количество банкоматов стоящих по одному адресу

In [41]:
df_counts = df_dataset.groupby('address')['id'].count().reset_index().rename(columns={'id':'count'})
df_counts.head()

                                            address  count
0  алтайский край, алейск, комсомольский улица, 115      2
1     алтайский край, алейск, пионерский улица, 134      1
2    алтайский край, барнаул, балтийский улица, 100      1
3     алтайский край, барнаул, балтийский улица, 16      1
4     алтайский край, барнаул, балтийский улица, 53      1

In [42]:
df_dataset = pd.merge(df_dataset, df_counts, how='left', on='address')

### Расстояния до ближайших банкоматов

In [43]:
from math import sin, cos, sqrt, atan2, radians

R = 6373.0 # радиус Земли в километрах

def distance(x,y):
    """
    Параметры
    ----------
    x : tuple, широта и долгота первой геокоординаты 
    y : tuple, широта и долгота второй геокоординаты 
    
    Результат
    ----------
    result : дистанция в километрах между двумя геокоординатами
    """
    lat_a, long_a, lat_b, long_b = map(radians, [*x,*y])    
    dlon = long_b - long_a
    dlat = lat_b - lat_a
    a = sin(dlat/2)**2 + cos(lat_a) * cos(lat_b) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    return R * c

In [44]:
from sklearn.neighbors import KNeighborsClassifier

df_dots = df_dataset[['lat','lng']].dropna()

knc = KNeighborsClassifier(metric=distance)
knc.fit(X=df_dots , y=np.ones(df_dots.shape[0]))
distances, indexes = knc.kneighbors(X=df_dots, n_neighbors=6,)

In [45]:
for i in range(1, 6):
    df_dots[f'distance_{i}'] = distances[:,i]
    df_dots[f'indexes_{i}'] = indexes[:,i]
    # df_dots[f'mean_{i}'] = distances[:,i].mean()
    # df_dots[f'var_{i}'] = distances[:,i].var()
    
df_dots['mean'] = df_dots.iloc[:,df_dots.columns.str.contains('distance')].mean(axis=1)

In [46]:
df_dots.drop(['lat', 'lng'], axis=1, inplace=True)
df_dots.head()

,distance_1,indexes_1,distance_2,indexes_2,distance_3,indexes_3,distance_4,indexes_4,distance_5,indexes_5,mean
0,0.171318,52,0.406053,34,0.444486,23,0.461430,18,0.558967,53,0.408451
1,0.244459,9,0.648189,5,0.721504,48,0.722457,36,0.902051,26,0.647732
2,0.202078,24,0.202078,14,0.234060,19,0.326741,42,0.413588,10,0.275709
3,0.357714,8,0.357714,50,0.414001,27,0.489403,44,0.497881,51,0.423343
4,1.738253,46,2.626927,12,3.266083,11,3.353584,26,3.353584,30,2.867686

In [47]:
df_concat_list.append(df_dots)

### Категории банкоматов в окрестности

In [48]:
from sklearn.neighbors import DistanceMetric

R = 6373.0 # радиус Земли в километрах

coords = np.deg2rad(df_dataset[['lat', 'lng']])
metric = DistanceMetric.get_metric('haversine')
dist = metric.pairwise(coords.values) * R

In [49]:
from functools import reduce
from collections import defaultdict, Counter

def get_closest_atm_groups(dist, radius):
    mask = np.logical_and(0 < dist, dist <= radius)
    index = reduce(lambda d, p: d[p[0]].append(p[1]) or d, zip(*np.where(mask)), defaultdict(list))
    df_atms_groups = {
        df_dataset.loc[i, 'id'] : Counter([str(df_dataset.loc[j, 'atm_group']) for j in i_list])
        for i, i_list in index.items()
    }
    
    df_atm_groups = [dict({'id': i}, **group) for i, group in df_atms_groups.items()]
    df_atm_groups = pd.DataFrame(df_atm_groups)
    df_atm_groups.columns = list(map(lambda s: f'atm_group_{s}_{radius}km', df_atm_groups.columns[:-1])) + \
            [df_atm_groups.columns[-1]]
    df_atm_groups.fillna(0, inplace=True)
    df_atm_groups = df_atm_groups.astype(int, copy=False)
    
    return df_atm_groups

In [50]:
df_atm_groups = get_closest_atm_groups(dist, 0.5)
df_dataset = pd.merge(df_dataset, df_atm_groups, how='left', on='id')

columns = df_atm_groups.columns[df_atm_groups.columns.str.startswith('atm_group_')]
df_dataset[columns.tolist()] = df_dataset[columns.tolist()].fillna(0)

# df_atm_groups = get_closest_atm_groups(dist, 0.7)
# df_dataset = pd.merge(df_dataset, df_atm_groups, how='left', on='id')

# columns = df_atm_groups.columns[df_atm_groups.columns.str.startswith('atm_group_')]
# df_dataset[columns.tolist()] = df_dataset[columns.tolist()].fillna(0)

df_atm_groups = get_closest_atm_groups(dist, 1.2)
df_dataset = pd.merge(df_dataset, df_atm_groups, how='left', on='id')

columns = df_atm_groups.columns[df_atm_groups.columns.str.startswith('atm_group_')]
df_dataset[columns.tolist()] = df_dataset[columns.tolist()].fillna(0)

### Ближайший банкомат из категории

In [51]:
dist[np.arange(dist.shape[0]), np.arange(dist.shape[1])] = np.inf

for atm in df_dataset["atm_group"].unique():
    mask = df_dataset["atm_group"] == atm
    index = np.argsort(dist[:,mask], axis=1)[:,0]
    index = np.arange(dist.shape[1])[mask][index]
    df_dataset[f'atm_group_{atm}_closest_distance'] = dist[np.arange(dist.shape[0]),index]
    df_dataset[f'atm_group_{atm}_closest_index'] = index

df_dataset[f'atm_group_closest_distance'] = df_dataset.apply(
    lambda r: r['atm_group_{}_closest_distance'.format(r['atm_group'])], axis=1)

df_dataset[f'atm_group_closest_index'] = df_dataset.apply(
    lambda r: r['atm_group_{}_closest_index'.format(r['atm_group'])], axis=1)

### Город размещения

In [52]:
mask = df_dataset["locality"].value_counts() < 20
rare = df_dataset["locality"].value_counts()[mask].index
rare

Index(['Химки', 'Альметьевск', 'Магнитогорск', 'Новороссийск', 'Красногорск',
       'Орёл', 'Биробиджан', 'Сургут', 'Одинцово', 'Энгельс',
       ...
       'Кировск', 'станица Советская', 'посёлок городского типа Прогресс',
       'Карачев', 'посёлок городского типа Борисовка',
       'посёлок городского типа Пристень', 'посёлок городского типа Прямицыно',
       'посёлок Ростовка', 'СНТ Бархатная Роща', 'Новохопёрск'],
      dtype='object', length=886)

In [53]:
df_dataset["locality"] = df_dataset["locality"].apply(lambda x: 'rare' if x in rare or not len(x) else x)

In [54]:
df_one_hot = pd.get_dummies(df_dataset['locality'])
df_one_hot.columns = ['locality_{}'.format(c.replace(' ', '_')) for c in df_one_hot.columns]
df_one_hot.head()

,locality_rare,locality_Абакан,locality_Артём,locality_Архангельск,locality_Астрахань,locality_Балашиха,locality_Барнаул,locality_Белгород,locality_Бийск,locality_Благовещенск,...,locality_Уссурийск,locality_Уфа,locality_Хабаровск,locality_Чебоксары,locality_Челябинск,locality_Чита,locality_Элиста,locality_Южно-Сахалинск,locality_Якутск,locality_Ярославль
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [55]:
df_concat_list.append(df_one_hot)

### Регион размещения

In [56]:
mask = df_dataset["province"].value_counts() < 20
rare = df_dataset["province"].value_counts()[mask].index
rare

Index(['Республика Мордовия', 'Республика Карелия', 'Республика Адыгея',
       'Республика Дагестан', 'Ямало-Ненецкий автономный округ',
       'Республика Коми', 'Республика Алтай', 'Республика Крым',
       'Республика Северная Осетия — Алания', 'Чукотский автономный округ',
       'Кабардино-Балкарская Республика'],
      dtype='object')

In [57]:
df_dataset["province"] = df_dataset["province"].apply(lambda x: 'rare' if x in rare or not len(x) else x)

In [58]:
df_one_hot = pd.get_dummies(df_dataset['province'])
df_one_hot.columns = ['province_{}'.format(c.replace(' ', '_')) for c in df_one_hot.columns]
df_one_hot.head()

,province_rare,province_Алтайский_край,province_Амурская_область,province_Архангельская_область,province_Астраханская_область,province_Белгородская_область,province_Брянская_область,province_Владимирская_область,province_Волгоградская_область,province_Вологодская_область,...,province_Томская_область,province_Тульская_область,province_Тюменская_область,province_Удмуртская_Республика,province_Ульяновская_область,province_Хабаровский_край,province_Ханты-Мансийский_автономный_округ,province_Челябинская_область,province_Чувашская_Республика,province_Ярославская_область
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
df_concat_list.append(df_one_hot)

In [60]:
df_dataset[["locality", "province"]].nunique()

locality    82
province    70
dtype: int64

In [61]:
df_dataset.head()

,address,house,id,lat,lng,locality,province,atm_group,target,OSM:importance,...,atm_group_8083.0_closest_distance,atm_group_8083.0_closest_index,atm_group_496.5_closest_distance,atm_group_496.5_closest_index,atm_group_5478.0_closest_distance,atm_group_5478.0_closest_index,atm_group_1022.0_closest_distance,atm_group_1022.0_closest_index,atm_group_closest_distance,atm_group_closest_index
0,"сахалинский область, южно-сахалинск, улица а.о...",34,8526,46.940995,142.738319,Южно-Сахалинск,Сахалинская область,32.0,0.011500,0.000,...,0.171318,52,0.558967,53,1.375474,26,3509.071074,1203,0.444486,23
1,"сахалинский область, южно-сахалинск, комсомоль...",259,8532,46.937341,142.753339,Южно-Сахалинск,Сахалинская область,32.0,0.029710,0.711,...,0.722457,36,0.980740,53,0.902051,26,3510.236994,1203,0.721504,48
2,"сахалинский область, южно-сахалинск, коммунист...",32,8533,46.960268,142.739011,Южно-Сахалинск,Сахалинская область,32.0,0.009540,0.711,...,0.419709,21,0.202078,14,0.234060,19,3507.876210,1203,1.064253,41
3,"сахалинский область, южно-сахалинск, милицейск...",8,470,46.966405,142.731815,Южно-Сахалинск,Сахалинская область,1942.0,0.041914,0.711,...,0.622139,13,0.357714,8,0.414001,27,3507.036149,1203,0.357714,50
4,"сахалинский область, южно-сахалинск, 2-я центр...",1,1183,46.900367,142.742227,Южно-Сахалинск,Сахалинская область,1942.0,0.065990,0.900,...,4.613321,52,4.828722,53,2.626927,12,3511.925171,1203,7.138031,50

### Средние тагреты

In [62]:
from sklearn.model_selection import KFold

def count_mean_target(df, cols, alpha=0.2, n_folds=5, random_state=4896):
    colname = 'mean_target_' + '_'.join(cols)
    
    kf = KFold(n_splits=n_folds, shuffle=True, random_state=random_state)
    unique = df.groupby(cols)['target'].count().reset_index()[cols]
    
    mean_target = lambda r: (r['mean'] * r['count'] + alpha * r['target']) / (r['count'] + alpha)
    
    for train_index, valid_index in kf.split(df):
        mean_g = df.loc[train_index, 'target'].mean()
        
        mean_r = df.loc[train_index].groupby(cols)['target'].agg(['mean', 'count']).reset_index()
        mean_r = pd.merge(unique, mean_r, on=cols, how='left').fillna(0.0)
        mean_r['target'] = mean_g
        mean_r['target'] = mean_r.apply(mean_target, axis=1)
        mean_r.drop(columns=['mean', 'count'], inplace=True)
    
        df.loc[valid_index, colname] = pd.merge(df.loc[valid_index, cols], mean_r, on=cols, how='left')['target']
        
    return df

In [63]:
# df_dataset = count_mean_target(df_dataset, ['atm_group'])

In [64]:
# df_dataset = count_mean_target(df_dataset, ['province', 'locality', 'atm_group'])

In [65]:
# df_dataset = count_mean_target(df_dataset, ['province', 'locality'])

### Вычисляемые признаки

In [66]:
df_dataset['mul_square_density_province_div_count'] = \
    df_dataset['mul_square_density_province'] / df_dataset['count']
df_dataset['mul_square_density_province_mul_salary'] = \
    df_dataset['mul_square_density_province'] * df_dataset['salary']
df_dataset['mul_square_density_province_div_count_mul_salary'] = \
    df_dataset['mul_square_density_province_div_count'] * df_dataset['salary']

df_dataset["locality"] = df_dataset["locality"].rank().fillna(-1)
df_dataset["province"] = df_dataset["province"].rank().fillna(-1)
df_dataset["2ГИС:type"] = df_dataset["2ГИС:type"].rank().fillna(-1)
df_dataset["OSM:type"] = df_dataset["OSM:type"].rank().fillna(-1)

df_dataset.drop(['2ГИС:type', 'OSM:type',
                 '2ГИС:comment', 'OSM:comment',
                 'address', 'comment'], axis=1, inplace=True)

df_dataset.head()

,house,id,lat,lng,locality,province,atm_group,target,OSM:importance,square,...,atm_group_496.5_closest_index,atm_group_5478.0_closest_distance,atm_group_5478.0_closest_index,atm_group_1022.0_closest_distance,atm_group_1022.0_closest_index,atm_group_closest_distance,atm_group_closest_index,mul_square_density_province_div_count,mul_square_density_province_mul_salary,mul_square_density_province_div_count_mul_salary
0,34,8526,46.940995,142.738319,8553.5,7163.0,32.0,0.011500,0.000,7.508988,...,53,1.375474,26,3509.071074,1203,0.444486,23,13.841721,9.481025e+05,9.481025e+05
1,259,8532,46.937341,142.753339,8553.5,7163.0,32.0,0.029710,0.711,7.308826,...,53,0.902051,26,3510.236994,1203,0.721504,48,13.641437,9.343839e+05,9.343839e+05
2,32,8533,46.960268,142.739011,8553.5,7163.0,32.0,0.009540,0.711,9.547201,...,14,0.234060,19,3507.876210,1203,1.064253,41,15.880409,1.087745e+06,1.087745e+06
3,8,470,46.966405,142.731815,8553.5,7163.0,1942.0,0.041914,0.711,7.477486,...,8,0.414001,27,3507.036149,1203,0.357714,50,13.810201,9.459435e+05,9.459435e+05
4,1,1183,46.900367,142.742227,8553.5,7163.0,1942.0,0.065990,0.900,0.000000,...,53,2.626927,12,3511.925171,1203,7.138031,50,0.000000,0.000000e+00,0.000000e+00

### Объединение в одну таблицу

In [67]:
df_concat_list = [df_dataset] + df_concat_list

In [68]:
df_dataset = pd.concat(df_concat_list, sort=False, axis=1)
columns = df_dataset.columns.tolist()
columns.remove('target')
columns.append('target')
df_dataset = df_dataset[columns]
df_dataset.head()

,house,id,lat,lng,locality,province,atm_group,OSM:importance,square,density_province,...,province_Тульская_область,province_Тюменская_область,province_Удмуртская_Республика,province_Ульяновская_область,province_Хабаровский_край,province_Ханты-Мансийский_автономный_округ,province_Челябинская_область,province_Чувашская_Республика,province_Ярославская_область,target
0,34,8526,46.940995,142.738319,8553.5,7163.0,32.0,0.000,7.508988,563,...,0,0,0,0,0,0,0,0,0,0.011500
1,259,8532,46.937341,142.753339,8553.5,7163.0,32.0,0.711,7.308826,563,...,0,0,0,0,0,0,0,0,0,0.029710
2,32,8533,46.960268,142.739011,8553.5,7163.0,32.0,0.711,9.547201,563,...,0,0,0,0,0,0,0,0,0,0.009540
3,8,470,46.966405,142.731815,8553.5,7163.0,1942.0,0.711,7.477486,563,...,0,0,0,0,0,0,0,0,0,0.041914
4,1,1183,46.900367,142.742227,8553.5,7163.0,1942.0,0.900,0.000000,563,...,0,0,0,0,0,0,0,0,0,0.065990

In [69]:
df_dataset.shape

(8765, 1162)

In [70]:
df_dataset.columns[df_dataset.isna().any(axis=0)]

Index(['target'], dtype='object')

In [71]:
assert df_dataset['target'].isna().sum() == 2504

In [72]:
# df_dataset.describe(include='object').T

In [73]:
df_dataset.to_csv('dataset_features.csv', sep=',', index=False)

In [ ]:
print(*df_dataset.columns, sep='\n')